html {
    background-color: grey;
    min-height:100%;
    margin:2%;
}

body {
    background-color: grey;
    min-height:100%;
    margin:0;

}

body h3 {
    color:white;
    font-style:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    padding-left:1em;
    padding-top:2em;
    display:flex;

}
#name {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-grow:2;   
    text-align:center; 
}
#name h1 {
    margin-bottom:0;
    color:white;
    font-size:50pt;
}
#name h4 {
    margin-top:0;
    color:rgb(140, 140, 238);
    font-size:25pt;
}

#professionalPhoto {
    flex-grow:1;
    width:25%;
    height:100%;

    
}

#contactInfo {
    flex-grow:1;
    padding-left:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#firstLine {
    color: red;
}
aside {
    display:flex;
    flex-direction:column;
    width:25%;
    float:right;
}
aside #programmingSkills {
    width:100%;
}
aside #graphicSkills {
    width:100%;
}
aside #languageSkills {
    width:100%;
}

section {
    display:inline-block;
    width:70%;
}
section .employment {
    height:70%;
}
section .education {
    height:70%;
}


.employment #jobOne div {
    display:flex;
    flex-direction:row;
}
.employment #jobTwo div {
    display:flex;
    flex-direction:row;
}
.employment #jobThree div {
    display:flex;
    flex-direction:row;
}

#jobOne h5 {
    margin-left:auto;
}
#jobTwo h5 {
    margin-left:auto;
}
#jobThree h5 {
    margin-left:auto;
}


#educationOne div {
    display:flex;
    flex-direction:row;
}
#educationTwo div {
    display:flex;
    flex-direction:row;
}
#educationThree div {
    display:flex;
    flex-direction:row;
}






#educationOne h5 {
    margin-left:auto;
}
#educationTwo h5 {
    margin-left:auto;
}
#educationThree h5 {
    margin-left:auto;
}


@media screen and (max-width: 700px) {
    header, section, aside {   
      flex-direction: column;
      align-items:center;
    }
}




#stars {
    padding: 2px;
    border-radius: 2px;
    display: inline-block;
  }
#stars span {
    position: relative;
  }
#stars span:before {
    content: "\2605";
    position: absolute;
    transition:all 0.4s;
    color: gold;
  }


  aside ul {
    display:flex;
    flex-direction:column;
    padding-left:0;
  }

aside li {
    padding-bottom:10%;
}

  ul {
    text-align:left;
    list-style-type: none;
  }

  .tags {
    color:white;
  }